<template name="audioList"> 
<section class="container" id="audioApp">
        <div class="row">
            <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="list-group">
                    {{#each files}}
                    {{> file}}
                    {{/each}}
                </div>
            </div>
            <div class="col-md-3 col-lg-3 hidden-sm hidden-xs">
                <ul class="list-group">
                    {{> tagcloud}}
                </ul>
            </div>
        </div>
    </section>
</template>
